# JS Project
.env.local
.env
*.log
out/
node_modules/

# NextJS
.next/

# Vercel
.vercel/

# TypeScript incremental build cache
*.tsbuildinfo

# Clerk configuration (can include secrets)
/.clerk/

# Coverage
/coverage/
